/*.profile-container {
    max-width: 400px;
    margin: auto;
    text-align: center;
    background: #222;
    padding: 20px;
    border-radius: 10px;
    color: white;
  }*/
  
  .profile-card {
    background: #333;
    padding: 20px;
    border-radius: 10px;
  }
  
  .profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .profile-container input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
  }
  
  button {
    margin-top: 15px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
  }
  
  .edit-btn {
    background: #28a745;
    color: white;
  }
  
  .logout-btn {
    background: #ff4757;
    color: white;
  }
  
  .save-btn {
    background: #007bff;
    color: white;
  }
  
  .cancel-btn {
    background: gray;
    color: white;
  }
  