body {
  margin: 0;
  padding: 0;
}

.history-container {
    width: 60%;
    margin: auto;
    text-align: center;
  }
  
  .history-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .history-list li {
    background: #f8f9fa;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .chart-container {
    margin-top: 20px;
  }
  
  canvas {
    width: 100%;
    max-width: 600px;
  }
  